<!-- Page title -->
<app-context-title>
  <a [routerLink]="['/home']"
     mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </a>
  <h1>Page One</h1>
</app-context-title>

<!-- Page content -->
<ng-container>
  <p>
    <b>Search Term:</b> {{searchTerm ? searchTerm : '-'}}
  </p>
</ng-container>

<!-- Context actions for the app bar -->
<app-context-actions>
  <input (keyup.escape)="clearSearch()"
         class="search-input"
         [(ngModel)]="searchTerm"
         placeholder="Search..."
         type="text">
  <button (click)="clearSearch()"
          mat-icon-button>
    <mat-icon [innerText]="searchTerm ? 'close' : 'search'">close</mat-icon>
  </button>
</app-context-actions>
