.mat-toolbar {
  display: flex;
  padding: 16px;

  .spacer {
    flex: 1;
  }

  .page-title-has-child {
    &:after {
      content: '/';
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.mat-tab-nav-bar {
  background-color: #F5F5F5;
}

.main {
  padding: 16px;
}
