<mat-toolbar [color]="(contextActions?.hasTemplate$ | async) ? 'warn' : 'primary'">

  <!-- Back Button -->
  <a *ngIf="title.hasTemplate"
     [routerLink]="navLinks[0].path"
     mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </a>

  <h1 [class.page-title-has-child]="title.hasTemplate">
    Content Projection Demo
  </h1>

  <!-- Dynamic Page Title -->
  <app-context-title-portal #title>
  </app-context-title-portal>

  <div class="spacer"></div>

  <app-context-actions-portal #contextActions>
  </app-context-actions-portal>
</mat-toolbar>

<nav color="accent"
     mat-tab-nav-bar>
  <a #rla="routerLinkActive"
     *ngFor="let link of navLinks"
     [active]="rla.isActive"
     [routerLink]="link.path"
     mat-tab-link
     routerLinkActive>
    {{link.label}}
  </a>
</nav>

<div class="main">
  <router-outlet></router-outlet>
</div>
