<!-- Changes color to red if projected context actions exist -->
<mat-toolbar [color]="(contextActions?.hasTemplate$ | async) ? 'warn' : 'primary'">

  <!-- Back Button -->
  <a *ngIf="title.hasTemplate"
     [routerLink]="navLinks[0].path"
     mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </a>

  <!-- page title + sub-page title if projected title exists -->
  <h1 [class.page-title-has-child]="title.hasTemplate">
    Content Projection Demo
  </h1>

  <!-- Projected Page Title -->
  <app-context-title-portal #title>
  </app-context-title-portal>

  <!-- Just some space between -->
  <div class="spacer"></div>

  <!-- Projected context actions -->
  <app-context-actions-portal #contextActions>
  </app-context-actions-portal>

</mat-toolbar>

<!-- Navbar -->
<nav color="accent"
     mat-tab-nav-bar>
  <a #rla="routerLinkActive"
     *ngFor="let link of navLinks"
     [active]="rla.isActive"
     [routerLink]="link.path"
     mat-tab-link
     routerLinkActive>
    {{link.label}}
  </a>
</nav>

<!-- Main content -->
<div class="main">
  <router-outlet></router-outlet>
</div>
