<div class="cards">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Using CDK Portal</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <h3>Place as rendering placeholder:</h3>
        <code>
          <span class="html-tag">&#x3C;app-context-actions-portal #portal&#x3E;</span><br>
          &nbsp;&nbsp;&nbsp;Optional: Some default Content<br>
          <span class="html-tag">&#x3C;/app-context-actions-portal&#x3E;</span>
        </code>
      </div>
      <br>
      <div>
        <h3>Check if has template:</h3>
        <code>
          <span class="html-tag">{{<span>portal.hasTemplate$ | async</span>}}</span><br>
        </code>
      </div>
      <br>
      <div>
        <h3>Place in your component:</h3>
        <code>
          <span class="html-tag">&#x3C;app-context-actions&#x3E;</span><br>
          &nbsp;&nbsp;&nbsp;Some HTML Content<br>
          <span class="html-tag">&#x3C;/app-context-actions&#x3E;</span>
        </code>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Using pure Angular</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <h3>Place as rendering placeholder:</h3>
        <code>
          <span class="html-tag">&#x3C;app-context-title-portal #portal&#x3E;</span><br>
          &nbsp;&nbsp;&nbsp;Optional: Some default Content<br>
          <span class="html-tag">&#x3C;/app-context-title-portal&#x3E;</span>
        </code>
      </div>
      <br>
      <div>
        <h3>Check if has template:</h3>
        <code>
          <span class="html-tag">{{<span>portal.hasTemplate</span>}}</span><br>
        </code>
      </div>
      <br>
      <div>
        <h3>Place in your component:</h3>
        <code>
          <span class="html-tag">&#x3C;app-context-title&#x3E;</span><br>
          &nbsp;&nbsp;&nbsp;Some HTML Content<br>
          <span class="html-tag">&#x3C;/app-context-title&#x3E;</span>
        </code>
      </div>
    </mat-card-content>
  </mat-card>
</div>
