.cards {
  display: flex;
  flex-wrap: wrap;

  .mat-card {
    min-width: 300px;

    &:last-of-type {
      margin-left: 16px;
    }
  }

  .mat-card-content {
    padding: 16px !important;

    .html-tag {
      color: blue;
    }
  }
}
