<!-- Page title -->
<app-context-title>
  <a [routerLink]="['/home']"
     mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </a>
  <h1>Page Two</h1>
</app-context-title>

<!-- Page content -->
<ng-container>
  <form (ngSubmit)="onSubmit()"
        [formGroup]="form">
    <button #pseudoSubmit
            style="display: none;"
            type="submit"></button>

    <mat-form-field appearance="outline"
                    class="example-full-width">
      <mat-label>Some control</mat-label>
      <input #someControlInput
             [formControl]="controls.someControl"
             matInput>
    </mat-form-field>

  </form>
</ng-container>

<app-context-actions *ngIf="form.enabled">
  <div class="context-actions">
    <button (click)="pseudoSubmit.click()"
            mat-icon-button
            type="button">
      <mat-icon>save</mat-icon>
    </button>
    <button (click)="onCancelClick()"
            mat-icon-button
            type="button">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</app-context-actions>

<app-context-actions *ngIf="form.disabled">
  <button (click)="onEditClick()"
          mat-icon-button
          type="button">
    <mat-icon>edit</mat-icon>
  </button>
</app-context-actions>
